<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>65870F3A-19EA-4942-B690-18965637F546.playgroundpage</string>
		<string>2AE3CA24-DB4F-4A53-BA45-79289C7BD0DF.playgroundpage</string>
		<string>A2E82725-0044-4035-866E-8F44B231C4D1.playgroundpage</string>
		<string>719B6ECD-4EA0-4DAF-8105-4187774DEF05.playgroundpage</string>
	</array>
</dict>
</plist>
