<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>2F823009-8F7B-4E1F-9A85-E14B459E997F.playgroundpage</string>
		<string>9321B1A2-3695-4E4E-A845-454EFC3B0CE7.playgroundpage</string>
	</array>
</dict>
</plist>
